// FUSCHIA CRAYOLA rgba(171, 88, 196, 1);
$gradient-light: rgba(171, 88, 196, 1);
// MAXIMUM PURPLE rgba(120, 59, 138, 1);
$gradient-dark: rgba(120, 59, 138, 1);
// ONYX rgba(55, 55, 65, 1);
$dark: rgba(55, 55, 65, 1);
// PLATINUM rgba(224, 224, 229, 1);
$secondary-background: rgba(224, 224, 229, 1);
// WHITE rgba(255, 255, 255, 1);
$primary-background: rgba(255, 255, 255, 1);