@import '~sass/variables';
.side {
    background-color: $secondary-background;
}

.title {
    background-color: $dark;
    padding: 10px 0px;
    display: flex;

    &:first-child {
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 959px) {
      flex-direction: column;

      > *:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and (min-width: 960px) {
      justify-content: space-between;
    }
}

.name {
    color: $primary-background;
    letter-spacing: 5px;
}

.pdf-button {
    color: white;
    border: 1px solid white;
    height: 30px;
    line-height: 30px;
    margin: 0 30px;
    min-width: fit-content;
}

.subtitle{
    color: $primary-background;
    font-family: 'Roboto Thin', sans-serif ;
    letter-spacing: 5px;
}

