<div class="title" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-between start" fxLayoutGap.lt-md="10px">
    <div fxLayout="column">
        <h1 class="name sub-content">{{cv_data.name}}</h1>
        <h2 class="subtitle sub-content">{{cv_data.title}}</h2>
    </div>
    <a *ngIf="!pdfView" href="assets/Lina_Ragauskaite.pdf" mat-button class="pdf-button">DOWNLAOD PDF</a>
    <!-- <div *ngIf="!pdfView" class="sub-content">
        <a class="download" href="assets/Lina_Ragauskaite.pdf" download>
            <img src="assets/icons/download.svg" alt="download" width="40" height="40">
        </a>
    </div> -->
</div>
