@import '~sass/variables';
.side {
    background-color: $secondary-background;
}

.title {
    background-color: $dark;
    padding: 10px 0px;
}

.name {
    color: $primary-background;
    letter-spacing: 5px;
}

.pdf-button {
    color: white;
    border: 1px solid white;
    height: 30px;
    line-height: 30px;
    margin: 0 30px;
}

.subtitle{
    color: $primary-background;
    font-family: 'Roboto Thin', sans-serif ;
    letter-spacing: 5px;
}

.download {
    margin-left: -10px;
}