<div class="content">
    <div fxFill fxLayout="row" fxHide.lt-md fxLayoutAlign="start start">
        <!-- SIDE PANEL -->
        <div class="side" fxLayout="column" fxFlex="30%" fxFlexAlign="stretch">
                <app-side-panel></app-side-panel>
        </div>
        <!-- MAIN PANEL -->
        <div fxLayout="column" fxFlex="70%" fxFlexAlign="stretch">
            <app-header></app-header>
            <app-main-panel></app-main-panel>
        </div>
    </div>

    <div fxFill fxLayout="column" fxHide.gt-sm fxLayoutAlign="start start" fxFlexAlign="stretch">
        <app-header fxFlexAlign="stretch"></app-header>
        <app-side-panel fxFlexAlign="stretch" class="side"></app-side-panel>
        <app-main-panel></app-main-panel>
    </div>
</div>
