<div class="side">
  <app-profile-img></app-profile-img>
  <!-- CONTACTS -->
  <div *ngIf="!confidential" class="sub-content column">
      <div class="white-box">
          <p>CONTACTS</p>
      </div>

      <div class="row">
          <div class="round-icon">
              <img class="icon-img-s1" src="{{cvData.contacts.location.img}}" alt="contact icon">
          </div>
          <p>{{cvData.contacts.location.value}}</p>
      </div>
      <div class="row">
          <div class="round-icon">
              <img class="icon-img-s1" src="{{cvData.contacts.email.img}}" alt="contact icon">
          </div>
          <p><a href="mailto:{{cvData.contacts.email.value}}">{{cvData.contacts.email.value}}</a></p>
      </div>
      <!-- <div class="row">
          <div class="round-icon">
              <img class="icon-img-s1" src="{{cvData.contacts.mobile.img}}" alt="contact icon">
          </div>
          <p>{{cvData.contacts.mobile.value}}</p>
      </div> -->
      <div class="row">
          <div class="round-icon">
              <img class="icon-img-s2" src="{{cvData.contacts.linkedin.img}}" alt="contact icon">
          </div>
          <p><a target="_blank" href="{{'http://' + cvData.contacts.linkedin.value}}">{{cvData.contacts.linkedin.value}}</a></p>
      </div>
      <div class="row">
          <div class="round-icon" style="align-items: flex-end;">
              <img class="icon-img-s1" src="{{cvData.contacts.github.img}}" alt="contact icon">
          </div>
          <p><a target="_blank" href="{{'http://' + cvData.contacts.github.value}}">{{cvData.contacts.github.value}}</a></p>
      </div>
  </div>
  <!-- PORTFOLIO -->
  <div class="sub-content column">
    <div class="white-box">
        <p>PORTFOLIO</p>
    </div>
    <p>{{cvData.portfolio.description}}</p>
    <div class="row">
      <div class="round-icon">
          <img class="icon-img-s2" src="{{cvData.portfolio.img}}" alt="contact icon">
      </div>
      <p><a target="_blank" href="{{'https://' + cvData.portfolio.href}}">{{cvData.portfolio.href}}</a></p>
    </div>
</div>
  <!-- LANGUAGES -->
  <div class="sub-content column">
      <div class="white-box">
          <p>LANGUAGES</p>
      </div>
      <div *ngFor="let language of cvData.languages" class="column">
          <p class="no-bottom-margin"><b>{{language.name}}</b></p>
          <p class="sm-vertical-margin mini-font">{{language.level}}</p>
      </div>
  </div>
  <!-- EDUCATION -->
  <div class="sub-content column">
      <div class="white-box">
          <p>EDUCATION</p>
      </div>
      <img class="sector-icon" src="{{cvData.education.img}}" alt="uni icon">
      <p class="no-bottom-margin">{{cvData.education.university}}</p>
      <p class="sm-vertical-margin"><b>{{cvData.education.course}}</b></p>
      <p class="sm-vertical-margin">{{cvData.education.from}} - {{cvData.education.to}}</p>
      <p class="sm-vertical-margin"></p>
      <p class="sm-vertical-margin">Subjects studied:</p>
      <ul>
          <li *ngFor="let module of cvData.education.modules">{{module}}</li>
      </ul>
  </div>
</div>
