<div class="base" fxLayout="column" fxLayoutGap="20px">
    <!-- INTRODUCTION -->
    <div class="sub-content" fxLayoutAlign="center center">
        <div class="line"></div>
        <h3 class="section-title" ><span>INTRODUCTION</span></h3>
        <div class="line"></div>
    </div>
    <div class="sub-content" fxLayout="row" fxLayoutAlign="start start">
        <p class="no-margin" [innerHTML]="cv_data.intro"></p>
    </div>
     <!-- Availability -->
     <div *ngIf="cv_data.availability" class="sub-content" fxLayoutAlign="center center">
            <div class="line"></div>
            <h3 class="section-title" ><span>ROLE & AVAILABILITY</span></h3>
            <div class="line"></div>
        </div>
        <div class="sub-content" fxLayout="row" fxLayoutAlign="start start">
            <p class="no-margin" [innerHTML]="cv_data.availability"></p>
        </div>
    <!-- SKILLS -->
    <div class="sub-content" fxLayoutAlign="center center">
        <div class="line"></div>
        <h3 class="section-title" ><span>SKILLS</span></h3>
        <div class="line"></div>
    </div>
    <div class="sub-content" fxLayout="row" fxLayoutAlign="center center">
        <img width="100%" src="assets/skills-2.svg" alt="Skills chart">
    </div>

    <div class="sub-content" fxLayoutAlign="center center">
        <div class="line"></div>
        <h3 class="section-title" ><span>PROJECT PORTFOLIO</span></h3>
        <div class="line"></div>
    </div>
    <div class="sub-content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
       <div *ngFor="let project of cv_data.projects; index as i" fxLayout="column" fxLayoutAlign="start start">
            <div class="seperator" *ngIf="i !== 0"></div>
            <div fxFill fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="start start">
                <p class="project-title"> <b>{{project.name}}</b> - {{project.job}}</p>
                <a *ngIf="project.link && !pdfView" href="{{project.link}}" target="_blank" mat-button class="demo-button">Demo</a>
            </div>
            <p class="project-info" [innerHTML]="project.description"></p>
       </div>
    </div>

    <div class="sub-content" fxLayoutAlign="center center">
        <div class="line"></div>
        <h3 class="section-title" ><span>RELEVANT EXPIERENCE</span></h3>
        <div class="line"></div>
    </div>

    <div class="sub-content" fxLayoutAlign="start start" fxLayout="column">
        <div *ngFor="let job of cv_data.experience" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <div class="icon-container" fxLayoutAlign="center start">
                <img class="sector-icon" src="{{job.img}}" alt="Workplace logo">
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
                    <p class="project-info"> <b>{{job.job}}</b></p>
                    <p class="project-title" >{{job.company}}</p>
                    <p *ngIf="job.report" class="project-title" > {{job.report}}</p>
                    <p class="project-title" > {{job.from}} - {{job.to}} {{job.length ? '('+job.length+')' : ''}}</p>
                </div>
                <p class="job-description" [innerHTML]="job.description"></p>
            </div>
        </div>
    </div>
</div>
