@import '~sass/variables';

.base {
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
}

.section-title {
    background-color: $primary-background;
    padding: 0px 10px;
    text-align:center;
    margin: 5px 0px;
    white-space:nowrap;
}

.line {
    height: 3px;
    background: $gradient-dark;
    width: 100%;
}

.project-title {
    margin: 0;
}

.project-info{
    margin: 5px 0px;
}

.icon-container {
    width: 150px;
    height: 150px;
    margin-top: 10px;

    .sector-icon{
        max-width: 150px;
        max-height: 90px;
    }
}

.no-margin{
    margin: 0px;
}

.demo-button {
    color: $gradient-light;
    border: 1px solid $gradient-light;
    height: 30px;
    line-height: 30px;
}

.seperator {
    width: 100%;
    border-bottom: 1px dashed $gradient-light;
    margin-bottom: 10px;
}

@media only screen and (max-width: 959px) {
    .demo-button {
        width: 100%;
        margin: 5px 0;
    }
}