<div id="cv" class="content">
  <!-- WEB VIEW -->
  <div id="content-desktop">
      <!-- SIDE PANEL -->
      <div class="side">
          <app-side-panel [(pdfView)]='pdfView' [(confidential)]='confidential'></app-side-panel>
      </div>
      <!-- MAIN PANEL -->
      <div>
          <app-header [(pdfView)]='pdfView'></app-header>
          <app-main-panel [(pdfView)]='pdfView'></app-main-panel>
      </div>
  </div>

  <!-- MOBILE VIEW -->
  <div id="content-mobile">
      <app-header [(pdfView)]='pdfView'></app-header>
      <app-side-panel [(pdfView)]='pdfView' [(confidential)]='confidential' class="side"></app-side-panel>
      <app-main-panel [(pdfView)]='pdfView'></app-main-panel>
  </div>
</div>
